@import 'custom';
@import 'variables';
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Survivant';
  src: url(/font/survivant.ttf) format('truetype');
}

body {
  color: $black;
  font-size: $font-size-default;
  width: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: $main-font;
  margin: 0 0 40px;
  background-color: $light-shade;
}

h1 {
  color: $dark-shade;
  font-family: $header-font;
  font-weight: 900;
  margin: 20px 0 30px;
  font-size: 2.5em;
  text-align: center;
}

@include for-size(phone-only) {
  h1 {
    font-size: 2em;
  }
}

h2,
h3 {
  font-family: $header-font;
  margin: 0 0 15px 0;
  padding-bottom: 10px;
  color: $dark-accent;
  text-align: left;
}

li {
  line-height: 30px;
}

// Text
.text-white {
  color: $light-shade;
}

.text-dark {
  color: $dark-shade;
}

.strike {
  text-decoration: line-through;
}

.nowrap {
  white-space: nowrap;
}

li {
  line-height: 24px;
  margin-bottom: 10px;
}

// Background Colors
.bg-dark {
  background-color: $dark-shade;
}
.bg-light {
  background-color: $light-shade;
}

.component-bg-light {
  background-color: $light-shade;
  padding: 20px;
  border-radius: 5px;
}

.hide {
  display: none;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar-brand {
  font-family: 'Survivant';
  font-size: 1.5em;
}

.navbar-light a.nav-link {
  color: $light-accent !important;

  &:hover {
    color: $dark-accent !important;
  }
}

.navbar .nav-item {
  margin-left: 20px;
}

a,
a:hover,
a:active {
  color: $link-color;
  text-decoration: none;
}

.container-padded {
  padding: 0 60px;
}

.panel-wrapper {
  max-width: 970px;
  margin: 0 auto;
}

@include for-size(tablet-portrait-dn) {
  .panel-wrapper {
    margin: 0 20px;
  }
}

.pill-btn {
  padding: 13px 23px;
  border-radius: 22px;
  text-transform: uppercase;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: color, background-color;

  &:hover {
    text-decoration: none;
    padding: 11px 21px;
  }
}

.pill-btn--light {
  background-color: $light-shade;
  color: $light-accent;

  &:hover {
    background-color: transparent;
    color: $light-shade;
    border: 2px solid $light-accent;
  }
}

.pill-btn--dark {
  background-color: $dark-accent;
  color: $light-shade;

  &:hover {
    background-color: transparent;
    color: $dark-accent;
    border: 2px solid $light-shade;
  }
}

.padding-top {
  padding-top: 15px;
}
.padding-top-md {
  padding-top: 20px;
}
.padding-top-lg {
  padding-top: 30px;
}

.padding-bottom-sm {
  padding-bottom: 10px;
}
.padding-bottom {
  padding-bottom: 15px;
}
.padding-bottom-md {
  padding-bottom: 20px;
}
.padding-bottom-lg {
  padding-bottom: 30px;
}

.border-bottom {
  border-bottom: 1px solid $lightgrey;
}

@include for-size(phone-only) {
  .visible-xs {
    display: block;
  }
  .hidden-xs {
    display: none;
  }

  td.visible-xs,
  th.visible-xs {
    display: table-cell;
  }
}

@include for-size(tablet-portrait-up) {
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
  td.hidden-xs,
  th.hidden-xs {
    display: table-cell;
  }
}
