@import 'variables.scss';

:export {
  lightShade: $light-shade;
  lightAccent: $light-accent;
  mainAccent: $main-accent;
  darkAccent: $dark-accent;
  darkShade: $dark-shade;
  black: $black;
  white: $white;
  grey: $grey;
  offWhite: $off-white;
  lightGrey: $lightgrey;
  mediumGrey: $mediumgrey;
  linkColor: $light-accent;
  padding: $padding;
  margin: $margin;
  mainFont: $main-font;
  headerFont: $header-font;
  fontSizeDefault: $font-size-default;
}