@import 'variables';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 0 30px;

  a.navbar-brand {
    text-decoration: none;
  }

  .brand {
    font-family: 'Survivant';
    font-size: 1.5em;
    color: $main-accent;
  }

  @include for-size(tablet-portrait-up) {
    .brand {
      font-size: 2em;
    }
  }
}

.hamburger {
  display: none;
}

@include for-size(phone-only) {
  .hamburger {
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 2;
    font-size: 1.5em;
    cursor: pointer;
    color: $white;
  }

  .nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $dark-shade;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
}
.nav ul {
  list-style: none;
  li {
    display: inline-block;
  }
}

.nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: $dark-accent;
  display: block;
  transition: 0.3s;

  &.hover {
    color: $light-shade;
  }
}

.nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .nav {
    padding-top: 15px;
  }
  .nav a {
    font-size: 18px;
  }
}
