/* FONT
---------------------------------------------------- */
$main-font: "Roboto Slab", serif;
$header-font: "Lato", sans-serif;
$font-size-default: 16px;

/* COLORS
---------------------------------------------------- */
$light-shade: #fff;
$light-accent: #86c1c5;
$main-accent: #6d7977;
$dark-accent: #2996be;
$dark-shade: #1e2d36;

$black: #000;
$white: #fff;
$grey: #585c65;
$off-white: #fcfcfc;
$lightgrey: #eeeeee;
$mediumgrey: #9b9b9b;

$link-color: $light-accent;

$padding: 10px;
$margin: 10px;

$font-family-sans-serif: $main-font;

// Breakpoints
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-dn {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1024px) {
      @content;
    }
  }
}
